*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin:0;
}
header{
    max-width: 1170px;
    margin: auto;
    /* padding-top:50px; */
    height:100vh;
    display:grid;
   
}
.background{
   width: 100%;
   background-image: url('header-bg.png');
   height: 100vh;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr repeat(5,90px);
    padding:0;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}
nav li{
    text-align: center;
}
nav li a{
    text-decoration: none;
    color:black;
    padding:10px;
}
nav .logo{
    padding: 5px;
   justify-self: start;
  
}
nav .logo a{
    padding-left: 0;
}
nav li .active{
    border:1px solid #444;
    border-radius: 30%;
}
.main-button{
    background-image: linear-gradient(39deg, #520074 0%, #d0007a 100%);
    border:none;
    border-radius: 30px;
    padding:10px 30px;
    color:white;
    font-weight: 100;
    cursor: pointer;

}
.main-button:focus{
    outline: transparent;
}
.header-content{
    text-align: center;
}
.container{
    max-width:1170px;
    margin:auto;
    padding-top:50px;
}
.row{
    display:inline-block;
    margin:0;
}
[class*="col-"] {
    float:left;
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.background-design{
    width: 100%;
    background-image:linear-gradient(180deg,#000, transparent), url("layer-design.png");
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.design{
    height:40vh;
   min-height: 300px;
   
   width: 100%;
   
   color:white;
   
}
.design-col,.code-col{
    padding-left: 5px;
}
.design h3{
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 0;
}
.design h3 b{
    font-weight: 900;
}

.what-we-do{
    height:60vh;
    text-align: center;
    min-height: 550px;
}
.design-col p,.code-col p{
    width:70%;
    font-weight: 200;
    min-height: 100px;
}
.what-we-do h2{
    text-align: center;
    font-size: 36px;
    padding-bottom: 40px;
}
.what-we-do h3{
 margin-top:0;
} 
.what-we-do p {
    font-weight: 100;
}
.what-we-do h3,.what-we-do p{
    text-align: left;
}
.web-design,.digital-painting{
    padding:20px 20px 20px 0;
}
.web-app,.desktop-app{
    padding:20px 0 20px 20px;
}
.fa{
    padding-top:2%;
}
.fa img{
    width:80%;
    height:80%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.map{
    width:100%;
}
.portfolio{
    height:50vh;
    margin-top: 50px;
    min-height: 500px;
    overflow: hidden;
}
